// Typography (aus Figma Text Styles)

body {
  font-family: $font-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  color: $color-text;
  line-height: $line-height-base;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  margin-bottom: $spacing-3;
}

h1 {
  font-size: $font-size-h1;
  
  @include respond-to('md') {
    font-size: 56px;
  }
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

// Paragraphs
p {
  margin-bottom: $spacing-3;
}

// Links
a {
  color: $color-primary;
  transition: color $transition-fast;
  
  &:hover {
    color: darken($color-primary, 15%);
    
  }
}

// Strong & Em
strong {
  font-weight: $font-weight-bold;
}

em {
  font-style: italic;
}